<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['시간','온도', '습도'],
          <% for(var row in sensors){ 
          
          	if(row == sensors.length-1){ %>          
          	[<%=sensors[row].time%>,<%=sensors[row].temperature%>,<%=sensors[row].humidity%> ]
          	<% }else{ %>
        		[<%=sensors[row].time%>,<%=sensors[row].temperature%>,<%=sensors[row].humidity%> ],
		  <% }
		  }%>
		  
        ]);

        var options = {
          title: '교실 온습도',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
